

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cobertura Covid-19
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Seleccion un Reporte </ion-label>
        <ion-select (ionChange)="SeleccionReported($event.detail.value)" >
          <ion-select-option value="1">Por Codigo</ion-select-option>
          <ion-select-option value="2">Por Ciudad</ion-select-option>
          <ion-select-option value="3">Por Diario</ion-select-option>
          <ion-select-option value="4">Por Ultima Ciudad</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col>
        <form [formGroup]="formCovid">
        <ion-item >
          <ion-label fixed >{{ mostrarText }}</ion-label>
          <ion-input type="text" name="code" *ngIf="mostrarCode" formControlName='code' placeholder="it, DO, PR" ></ion-input>
          <ion-input type="text" name="nombre" *ngIf="mostrarCiudad" formControlName="ciudad"  placeholder="italy, " ></ion-input>
          <ion-input type="date" name="fecha" *ngIf="mostrarFecha" formControlName="fecha" placeholder="Fecha" ></ion-input>
          <ion-icon (click)="BuscarCovid()" name="search-outline"></ion-icon>
        </ion-item>
      </form>
      </ion-col>
    </ion-row>

<ion-row>
<ion-col>
  <ion-list *ngFor="let pais of ciudadCode" >
    <ion-item>
      <ion-label><strong>Ciudad</strong></ion-label>
      <ion-label>{{pais.country}}</ion-label>
    </ion-item>

  <ion-item>
    <ion-label><strong>Longitud:</strong></ion-label>
    <ion-label>{{pais.longitude}}</ion-label>
  </ion-item>

  <ion-item >
    <ion-label><strong>latitud:</strong>  </ion-label>
    <ion-label>{{pais.latitude}}</ion-label>
  </ion-item>

    <ion-item >
      <ion-label><strong>Codigo:</strong></ion-label>
      <ion-label>{{pais.code}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label><strong>Critico:</strong></ion-label>
      <ion-label>{{pais.critical}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label><strong>Fallecido:</strong>  </ion-label>
      <ion-label>{{pais.deaths}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label><strong>Recuperados:</strong>  </ion-label>
      <ion-label>{{pais.recovered |number}}</ion-label>
    </ion-item>

</ion-list>
</ion-col>
</ion-row>
</ion-grid>



</ion-content>


